H1{
    font-size: 50px;
    color:#7603ec;
    text-transform: capitalize;
    letter-spacing: 15px;
    word-spacing: 100px;

}

p{
    text-align: justify;
    text-indent: 5%;
}

a{
    text-decoration: none;
    font-size: 50px;
    
}