h1{
    font-family:Arial, Verdana, sans-serif;
    font-size: 100px;
    font-variant :small-caps;
    font-style:obl;
    line-height: 75px;
    color: rgb(0, 0, 255);
    background-color: rgb(0, 255, 42);  
}

p{
    font-family: 'Times New Roman', Times, serif;
    
}

body{
    background-color: yellow;
   justify-content: center;
}
